<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/login}" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Your Email" class="form-control form-control-lg">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" id="password">
    </div>

<input type="submit" value="Login" class="btn btn-primary btn-block">
</form>
</body>
</html>